* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}

body {
    background: #ffffffbb;

}
a {
    text-decoration: none;
}
p{
    font-family: 'segoe ui';
    text-align: left;
}
h2 {
    font-family: 'segoe UI';
    font-weight: bold;

}
h3{
    text-transform: uppercase;
}
h5 {
    font-family: 'sagoe ul';
    font-weight: bold;
    color: black;
}
li {
    list-style: none;
}
img{
    width: 700px;
}
h1 {
    line-height: 1.2em;
}
/*utility */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    
}
.btn {
font-family: 'segoe UI';
color: #111111;
text-align: left;
font-weight: bold;
text-transform: uppercase;
border-style: solid;
border-width: 2px 2px 2px 2px;
padding: .5rem;
opacity: 1;
margin: 1rem;
}
.en{
    display: inline-block;
    padding-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color:#111111;
}
.btn-secondary {
    border-color:#fbfbfb;
    padding: 0rem 3rem 0rem 3rem;
}
.btn-secondary1 {
    background: #EC7D55;
    border-color: none;
    padding: 0rem 1rem 0rem 1rem;
}
.btn-secondary:hover {
    color:yellow;
}
.btn-secondary:active{
    color: darkgray;
}
.btn-secondary1:active {
    color: darkgray;
}
.btn1 {
    background: #ffffff;
    color:#111111;
    padding: .2rem 1rem .2rem 1rem;
}

/*nav */

#main-nav{
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    background:#fff;
}
#main-nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#main-nav .container .link {
    font-family: 'Chiller','lucida sans Regular';
    font-weight: bold;
    text-align: left;
    color: #111111;
    font-size: 40px;

}
#main-nav .container .nav-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.container .nav-link .active {
    color: #111111;
    margin: .5rem;
}
.container .social i {
    color: #111111;
    margin: .5rem;
}
.container .showcontainer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.container .showcontainer .sp .ht {
  background: #fff; /*div tag linking h1, p and the btn together*/
}
.container .showcontainer .sp .ht .sh { /*for h1*/
    font-family:Arial;
    font-weight: bold;
    text-align: left;
}
.container .showcontainer .sp .ht .pp {
    font-family:'segoe UI';
    text-align: center ,left;
}
.container .showcontainer .sp .btn {
    z-index: 1;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    padding: .5rem;
    
}
.container .showcontainer .im {
    z-index: 1;
}
/*article section*/
#article {
    display: grid;
    grid-template-rows: repeat(2,1f);
}
#article .container img {
    width: 300px;
}
#article .container .mencontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.container .women {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.container .women img{
    padding-top: 3em;
}
.container .rope .btn {
    display: inline;  
}

.container .end {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    grid-gap: 1em;
}
.container .end .en1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .end .en2 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .end .en3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .end .en1 .en {
    color: red;
}
.container .endd {
    background: url(./img/shoe.png) no-repeat center right/contain ;
    padding: 1rem;
    margin: 1rem;
}
#article .container .endd .en {
    border-style: solid;
    border-width: .1rem .1rem;
    padding: 0.3rem 2rem .3rem 2rem; 
    text-decoration: #111111;
}
/*footer section of index page*/
#sec {
    padding-top: 3rem;
}
#sec .container .footercontainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    grid-gap: 1rem;
}
#sec .container .footercontainer .footer5 ul {
    display: flex;
    justify-content: space-between;   
}
#sec .container  .footer6 ul {
    display: flex;
    justify-content: space-between;
}

/* menpage */
/*nav*/
body {
    background: #ffffff;
}
 #men-nav .container {
    max-width: 1200px;
    margin: auto;
    padding: 1rems;
    background: #ffffff;
}
#men-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}
#men-nav .container .nav-section1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#men-nav .container .nav-section1 ul  {
    display: flex;
}
#men-nav .container .nav-section2 ul li {
    display: inline;
    text-align: left;
    padding: .7rem;
}
#men-nav .container .nav-section2 a{
    color: #000;
    
}
#men-nav .container .nav-section2 ul {
    background:#fbfbfb
}
.nav-section1 .link  {
    font-family: 'Chiller','lucida sans Regular';
    font-weight: bold;
    text-align: left;
    color: #111111;
    font-size: 40px;
} 
/*showcase area of menpage i.e men page*/
#menshowcase .container .menshowcase {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
#menshowcase .container .menshowcase img {
    width: 400px;
}
#menshowcase .container .menshowcase .arrival {
    text-align: center;
}
#menshowcase .container .menshowcase .arrival .btn {
    background: #000;
    color: #fff;
}
/*article section*/
#men-article .container .men-article   {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
#men-article .container .men-article div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#men-article .container .men-article  .m1 {
    background: url(./img/men/Image\ 32.png) no-repeat center center/cover;
}

#men-article .container .men-article  .m2 {
    background: url(./img/men/Image\ 38.png) no-repeat center center/cover;
}
#men-article .container .men-article  .m3 {
    background: url(./img/men/Image\ 39.png) no-repeat center center/cover;
}

#men-article .container .men-article  .m4 {
    background: url(./img/men/Image\ 40.png) no-repeat center center/cover;
}
#men-article .container .men-article .m5 {
    background: url(./img/men/Image\ 41.png) no-repeat center center/cover;
}
#men-article .container .men-article .m6 {
    background: url(./img/men/Image\ 44.png) no-repeat center center/cover;
}
#men-article .container .menmiddle .m7 {
    background: url(./img/men/shorts.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
}
#men-article .container .menmiddle .m8 {
    background: url(./img/men/Image\ 45.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
}
.menmiddle {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.menmiddle div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#men-article .container .style {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
#men-article .container .style img {
    width: 250px;
    height: 200px;
}
#men-article .container .style5  {
    text-align: center;
    
}
/*footer section*/
 .footercontainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    grid-gap: 1rem;
}
.container .footercontainer .footer5 ul {
    display: flex;
    justify-content: space-between;   
}
.container  .footer6 ul{
    display: flex;
    justify-content: space-between;
}


/*women page*/
#women-nav .container {
    max-width: 1200px;
    margin: auto;
    padding: 1rems;
    background: #ffffff;
}
#women-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}
#women-nav .container .nav-section1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#women-nav .container .nav-section1 ul  {
    display: flex;
}
#women-nav .container .nav-section2 ul li {
    display: inline;
    text-align: left;
    padding: .7rem;
}
#women-nav .container .nav-section2 a{
    color: #000;
    
}
#women-nav .container .nav-section2 ul {
    background:#fbfbfb
}
.nav-section1 .link  {
    font-family: 'Chiller','lucida sans Regular';
    font-weight: bold;
    text-align: left;
    color: #111111;
    font-size: 40px;
} 
#womenshowcase .container .womenshowcase {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
#womenshowcase .container .womenshowcase img {
    width: 400px;
}
#womenshowcase .container .womenshowcase .arrival {
    text-align: center;
}
#womenshowcase .container .womenshowcase .arrival p{
    text-align: center;
}
#womenshowcase .container .womenshowcase .arrival .btn {
    background: #000;
    color: #fff;
}
/*article section*/
#women-article .container .women-article   {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
#women-article .container .women-article div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#women-article .container .women-article  .w1 {
    background: url(./img/women/Image\ 37.png) no-repeat center center/cover;
}

#women-article .container .women-article  .w2 {
    background: url(./img/women/Image\ 70.png) no-repeat center center/cover;
}
#women-article .container .women-article  .w3 {
    background: url(./img/women/Image\ 52.png) no-repeat center center/cover;
}

#women-article .container .women-article  .w4 {
    background: url(./img/women/Image\ 60.png) no-repeat center center/cover;
}
#women-article .container .women-article .w5 {
    background: url(./img/women/Image\ 53.png) no-repeat center center/cover;
   
}
#women-article .container .women-article .w6 {
    background: url(./img/women/Image\ 56.png) no-repeat center center/cover;
}
.w7 {
    background: url(./img/women/Image\ 55.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
    margin: .5rem;
}
 .w8{
    background: url(./img/women/Image\ 54.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
    margin: .5rem;
}

.womenmiddle {
    display: flex;
    justify-content: center;
    margin: 1rem;

}
.womenmiddle div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#women-article .container .style {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}


#women-article .container .style img {
    width: 250px;
    height: 200px;
}
#women-article .container .style5  {
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}
/*footer section*/
.footercontainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    grid-gap: 1rem;
}
.container .footercontainer .footer5 ul {
    display: flex;
    justify-content: space-between;   
}
.container  .footer6 ul{
    display: flex;
    justify-content: space-between;
}    
/*ar page*/
/*main aarticle*/
#main-aarticle .container .main-headcontainer {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
#main-aarticle .container .pic1 {
    background: url(./img/arrival/Image\ 86.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .pic2 {
    background: url(./img/arrival/Image\ 87.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .pic3 {
    background: url(./img/arrival/Image\ 88.png) no-repeat center center/cover;
   width: 15rem;
   height: 20rem;
}
#main-aarticle .container .aarticlearticle .pic4{
    background: url(./img/arrival/Image\ 89.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticlearticle .pic5{
    background: url(./img/arrival/Image\ 91.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticlearticle .pic6{
    background: url(./img/arrival/Image\ 92.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticlearticle .pic7{
    background: url(./img/arrival/Image\ 93.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticlearticle .pic8{
    background: url(./img/arrival/Image\ 94.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticlearticle .pic9{
    background: url(./img/arrival/Image\ 95.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container img {
    width: 100%;
}
#main-aarticle .container .aarticle  {
   display: flex;
   justify-content: space-between;
}
#main-aarticle .container .aart {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem;
    padding: 1rem;
}
#main-aarticle .container .aart .p {
    align-items: flex-end;
    margin: 2rem;
}
#main-aarticle .container .p{
    align-items: flex-end;
    
}
#main-aarticle .container .aarticlearticle {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items:center;
    grid-gap: 4rem;
    padding: 7rem 2rem 7rem 2rem;
}
#main-aarticle .container .aarticle  a {
    color: #111111;
    display: flex;
    justify-content: flex-end;
    height: 280px;
    
}

#main-aarticle .container .aarticlearticle a{
    color: #111111;
    display: flex;
    justify-content: flex-end;
    height: 300px;

}
/*arranging individual items in content above*/
/*for aarticle*/
#main-aarticle .container .aarticle .aarticle1  {
    display:grid;
    grid-template-rows: repeat(7,1fr);
    justify-content: start;
    align-items: center;
    margin: 3rem;
    padding: 1rem; 
}
#main-aarticle .container .aarticle .aarticle1 select {
    border-width: none;
    border-color: #faeeee;
}
#main-aarticle .container .aarticle  .pic p {
    color: #111111;
}
#main-aarticle .container .aarticle .pic i  {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #111111;
    background: #ffffff;
    
}

/*for aarticlearticle*/

#main-aarticle .container .aarticlearticle .pic p {
    color: #111111;
}
#main-aarticle .container .aarticlearticle .pic i {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #111111;
    background: #ffffff;   
}
#main-aarticle .container .style5 {
    text-align: center;
}
footer {
    margin: 5rem;
}
/*ex page*/
#main-aarticle .container .aarticle .aart .pic10 {
    background: url(./img/ex/Image\ 71.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticle .aart .pic11 {
    background: url(./img/ex/Image\ 72.png) no-repeat center center/cover;
width: 15rem;
height: 20rem;
}
#main-aarticle .container .aarticle .aart .pic12 {
    background: url(./img/ex/Image\ 73.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem; 
}
#main-aarticle .container .aarticlex .pic13 {
    background: url(./img/ex/Image\ 75.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem; 
}
#main-aarticle .container .aarticlex .pic14 {
    background: url(./img/ex/Image\ 84.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem; 
}
#main-aarticle .container .aarticlex .pic15 {
    background: url(./img/ex/Image\ 76.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticlex .pic16 {
    background: url(./img/ex/Image\ 83.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
} 
#main-aarticle .container .aarticlex .pic17 {
    background: url(./img/ex/Image\ 76.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#main-aarticle .container .aarticlex .pic18{
    background: url(./img/ex/Image\ 85.png) no-repeat center center/cover;
    width:15rem;
    height: 20rem;
}
.aarticlex {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 6rem;
    padding: 1rem;
    margin: 5rem;
}
.aarticlex .p {
    display: flex;
    justify-content: flex-end;
    height: 300px;
    margin: 1rem;
}
.aarticlex .p i{
    color: #111111;
}
/*items*/

.aarticle .aart .pic19 {
    background: url(./img/items/Image\ 96.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.aart .pic20 {
    background: url(./img/items/Image\ 97.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.aart .pic21 {
    background: url(./img/items/Image\ 98.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.pic22 {
    background: url(./img/items/Image\ 103.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.pic23 {
    background: url(./img/items/Image\ 102.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.pic24 {
    background: url(./img/items/Image\ 105.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.pic25 {
    background: url(./img/items/Image\ 104.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.pic26 {
    background: url(./img/items/Image\ 100.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.pic27 {
    background: url(./img/items/Image\ 139.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.price {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
}
.aarticlex  p {
    font-size: 0.7rem;
}
.aart p {
    font-size: 0.7rem
}
.aarticlex .price  h5 {
    color: red;
}
.aarticlex .price h6 {
    text-decoration: line-through;
}
.aart .price h5 {
    color: red;
}
.aart .price h6 {
    text-decoration: line-through;
}
.aarticlex .style5 {
     text-align: center;
}
/*page7*/
.smallpic img {
    height: 35rem;
}
.smallpic {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 1rem;
}
.bigpic{
    background: url(./img/page7/Image\ 140.png) no-repeat center left/contain;
}
.small4pic img {
    width: 5rem;
    height: 6rem;
}
.small4pic {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    align-content: flex-end;
}
.p7items .header {
    display: flex;
}
.header {
    font-size: 1rem;
}
.side {
    font-size: .8rem;
    margin-top: 1rem;
}
.side a{
    color: #111111;
    text-decoration: underline;
}
.f {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.lnk {
    color: #111111;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
    border-color: #111111;
    font-size: 0.9rem;
}
.d a {
    color: #111111;
    padding: 1rem;
}
.qua {
    padding: 1rem;
    text-transform: uppercase;
}
.cart {
    background: #111111;
    text-align: center;
}
.cart a {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    justify-content: left;
    color: #faeeee;
    text-transform: uppercase;
}
.buy {
    display: flex;
    text-transform: uppercase;
}
.rec {
    background: #a5a1a1;
}
.prod i {
    color: #EC7D55;
}
.rec a {
    color: #111111;
    text-decoration: underline;
}
.highlight {
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
}
 .highlight .specify p{
    border-style: solid;
    border-width: 0rem 0rem .4rem 0rem;
    margin-right: 3rem;
}
.lists {
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.f1 li {
    list-style:square;
    margin: 1rem;
}
.const {
    display: flex;
}
.rate {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background: #f5f5f5;
}
.rate i {
    color:goldenrod;
}
.star {
    margin:2rem 1rem 0rem 0rem;
    
}
.rate h1 {
    margin-left: 1rem;
}

.break {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content:space-between;
    
}
.str {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.83rem;
}
.range5 {
    width: 300px;
    height: 15px;
    background-color:#95989A;
    border-radius: 10px;
}
.range55 {
    height: 100%;
    width: 75%;
    background-color:#EC7D55;
    border-radius: inherit;
}
.gen {
    display: flex;
    text-decoration:underline;
    gap: 1rem;
}
.range44 {
    height: 100%;
    width: 30%;
    background-color:#EC7D55;
    border-radius: inherit;
}
.range4 {
    width: 300px;
    height: 15px;
    background-color:#95989A;
    border-radius: 10px;
}
.range33 {
    height: 100%;
    width: 15%;
    background-color:#EC7D55;
    border-radius: inherit;
}
.range3 {
    width: 300px;
    height: 15px;
    background-color:#95989A;
    border-radius: 10px;
}
.range22 {
    height: 100%;
    width: 10%;
    background-color:#EC7D55;
    border-radius: inherit;
}
.range2 {
    width: 300px;
    height: 15px;
    background-color:#95989A;
    border-radius: 10px;
}
.range1 {
    width: 300px;
    height: 15px;
    background-color:#95989A;
    border-radius: 10px;
}
.range11 {
    height: 100%;
    width: 10%;
    background-color:#EC7D55;
    border-radius: inherit;
}
.inbreak {
    text-transform: uppercase;
    font-weight: bold;
}
.grt {
    text-transform: uppercase;
    font-weight: bold;
}
#customer-satisfaction {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
.fit1{
    display: flex;
    gap: 0.5rem;
}
.fit11 {
    height: 5px;
    width: 80px;
    background-color: #95989A;
    border: 5px;
}
.fit12 {
    height: 5px;
    width: 80px;
    background-color: #95989A;
    border: 5px;
}
.fit13 {
    height: 5px;
    width: 80px;
    background-color: #95989A;
    border: 5px;
}

.fit14 {
    height: 5px;
    width: 80px;
    background-color: #95989A;
    border: 5px;
}
.fit13 i {
    color: #EC7D55;
}
.fitness {
    display: flex;
    gap: 3rem;
    margin-top: 0.5rem;
}
.ft {
    text-transform: uppercase;
}
.blue i {
    color: blue;
}
#runs {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.runs {
    text-transform: uppercase;
}
.excellent {
    text-transform: uppercase;
    text-align: center;
}
#excellent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.fort {
    text-transform: uppercase;
}
.excel {
    text-transform: uppercase;
    font-weight: bold;
}
.fitnes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    margin-top: .8rem;
}
.boot {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: right;
    margin-top: 1rem;
}
.boot1 {
    display: flex;
}
.puma {
    background: url(./img/page7/Image\ 141.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.watch {
    background: url(./img/page7/Image\ 111.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.nike {
    background: url(./img/page7/Image\ 112.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
#accesories {
    margin-top: 5rem;
}
.accesories {
    display: flex;
    gap: 1rem;
}
.puma1 i {
    display: flex;
    justify-content:flex-end;
    margin-right: 0.5rem;
}
.puma1 {
    margin-top: 18rem;
}
.pum {
    background: url(./img/page7/Image\ 113.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.wat {
    background: url(./img/page7/Image\ 114.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.nik {
    background: url(./img/page7/Image\ 115.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.showall {
    display: flex;
    justify-content: space-between;
}
.accesoriess {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.pm {
    background: url(./img/page7/Image\ 141.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.wt {
    background: url(./img/page7/Image\ 94.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.nk {
    background: url(./img/page7/Image\ 85.png) no-repeat center center/cover;
    width: 15rem;
    height: 20rem;
}
.puma2 {
    margin-top: 20rem;
}
/*page 8*/


.pag8 {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 0rem 0rem .1rem 0rem;
    border-color:#f5f5f5;
    
}
.pag8 a{
    color: #111111;
    margin:1rem 0.7rem 1rem 0.7rem;
    padding:1rem;
}
.li {
    font-family: 'chiller' ,'regular';
}
#check {
    display: flex;
    gap: 3rem;
    margin: 2rem;
}
.check1 {
    text-transform: uppercase;
}

.border {
    border-style: solid;
    border-width: thin;
    border-color:#f5f5f5;
    
    
}
.form-row {
    display: flex;
    gap: 1rem;
    margin: 1rem .5rem 1rem .5rem;
}
.form-rows {
    display: flex;
    gap: 1rem;
    margin-left:0.5rem;
}
.street-address {
    width: 83%;
    margin: 0rem 0rem 1rem 0.5rem;
    
}
#form-butn {
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 2rem 2rem 0rem;
}
.bttn {
    background-color: #111111;
    padding: .5rem;
}
.form-butn {
    color: #a5a1a1;
    margin: 0.5rem;
}
.in-cart {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin: 0rem .3rem 0rem 0rem;
}
.car {
    margin-left: .3rem;
    text-transform: uppercase;
    font-weight: bold
}
.delivery {
    margin-left: .3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.images1 {
    background: url(./img/pag8/Image\ 154.png)no-repeat center left/contain;
    width: 10rem;
    height: 15rem;

}
.order-details {
    display: flex;
    gap: .3rem;
    margin: 0rem .3rem 0rem .3rem;
}
.images2 {
    background: url(./img/pag8/Image\ 142.png)no-repeat center left/contain;
    width: 10rem;
    height: 15rem;

}
.images3 {
    background: url(./img/pag8/Image\ 103.png)no-repeat center left/contain;
    width: 10rem;
    height: 15rem;

}
.details-1 h5{
    font-size:large;
    font-weight: lighter;
}
.delivery2 {
    border-style: solid;
    border-width: thin;
    margin-top: 2rem;
    border-color: #f5f5f5;
}
.prices1 {
    display: flex;
    gap: 1.5rem;
    margin: .7rem;
}
.prices2 {
    display: flex;
    gap: 2rem;
    margin: .7rem;
}
.delivery-option {
    text-transform: uppercase;
    margin: 0.3rem;
}
 hr {
     border-width: thin;
     border-color: #ffffff;
}
.pick-up {
    text-transform: uppercase;
}
.payment-option {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.pay-radio {
    margin: .7rem;
}
.payment-option-main {
    border-style: solid;
    border-width: thin;
    margin-top: 2rem;
    border-color: #f5f5f5;
}
.payment-image {
    display: flex;
    margin: 2rem;

}
.payment-image1 {
    background: url(./img/pag8/Image\ 1.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.payment-image2 {
    background: url(./img/pag8/Image\ 2.png)no-repeat center center/contain;
    width:8rem;
    height:7rem;
}
.payment-image3 {
    background: url(./img/pag8/Image\ 3.png)no-repeat center right/contain;
    width:8rem;
    height:7rem;
}
.payment-img {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem;
}
.payment-total {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem;
    font-weight: bold;
}
.modify {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    font-size: small;
}
.footer8 {
    display: flex;
    justify-content: space-between;
}
.placeholder {
    border-style: solid;
    border-width: thin;
    border-color:#f5f5f5;
}
.placeholder-1 {
    font-size: xx-small;
    text-align: center;
    margin-top: 2rem;
}
.placeholder-1 {
    font-size: xx-small;
    text-align: center;
    color: gray;
}
.placeholder-1 a{
    text-decoration:underline;
    color: gray;
}
.placeholder-2 a{
    font-family: 'Segoe UI';
    font-size:small;
    color:#ffffff;
    background-color: #111111;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 6rem .5rem 6rem; 
}
.placeholder-1 p {
    text-align: center;
    margin-top: 1rem;
}
/*page9*/
 #nav {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
.awsome {
    display: flex;
    gap: 2rem;
}
.awsome i{
    color: #000;
}
.nav-btn {
    color:#ffffff;
    border-style: none;
    background-color: #EC7D55;
    padding: 0rem 1rem 0rem 1rem;
    height: 2rem;
    width: 8rem;
    font-size: large;
}
.nav-btn1 {
    border-style: solid;
    border-width: thin;
    border-color:#f5f5f5;
    padding: 0rem 1rem 0rem 1rem;
    height: 2rem;
    width: 25rem;
}
.xyz {
    font-family: "chiller";
}
.nav-link {
    display: flex;
    gap: 2rem;
    background-color: #fbfbfb;
    padding: .3rem 3rem .3rem 3rem;
}
.nav-link1 a {
    color: #111111;
    font-family: 'Segoe UI';
    text-transform: uppercase;
}
.wish-list h3 {
    color: #111111;
    font-family: 'arial';
    font-weight: bold;
    text-transform: uppercase;
}
.wish-list1 {
    display: flex;
    justify-content: space-between;
}
.wish-list11 {
    display: flex;
    gap: 1.5rem;
}
.wish-list-image1 {
    background: url(./img/page9/Image\ 116.png)no-repeat center right/contain;
    width:8rem;
    height:7rem;;
}
.wish-list-remove {
    color: #EC7D55;
}

.w-l-image211 {
    background: url(./img/page9/Image\ 117.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image212 {
    background: url(./img/page9/Image\ 118.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image213 {
    background: url(./img/page9/Image\ 119.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.wish-list-images {
    display: flex;
}
.use-fit1 {
    background: url(./img/page9/Image\ 176.png)no-repeat center left/contain;
    width:3rem;
    height:2rem;
}
.use-fit {
    display: flex;
    justify-content: flex-end;
}
.add-cart {
    display: flex;
    justify-content: flex-end;
    font-family: 'Segoe UI';
    gap: 7rem;
    border-style:solid;
    border-width: thin;
    border-color: #111111;
    margin: 1rem 0rem 1rem 0rem;
    padding: .5rem 0rem .5rem 0rem;
}
.add-cart a {
    color: #111111;
    padding: 1rem 1rem 1rem 0rem; 
    font-family: 'Segoe UI';
}
.select-size1 {
    border-style: none;
    border-width: thin;
    margin-top: 1rem;
    padding: 0rem 2rem 0rem 2rem;
}
.select-size2 {
    border-style: none;
    border-width: thin;
    padding: 0rem 2rem 0rem 2rem;
}
.use-fit2 a {
    color: #111111;
    font-family: 'Segoe UI';
}
.wish-list-image3 {
    background: url(./img/page9/Image\ 123.png)no-repeat center right/contain;
    width:8rem;
    height:7rem;;
}
.wish-list2 {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.w-l-image311 {
    background: url(./img/page9/Image\ 121.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image312 {
    background: url(./img/page9/Image\ 122.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image313 {
    background: url(./img/page9/Image\ 120.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.wish-list3 {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.wish-list-image4 {
    background: url(./img/page9/Image\ 142.png)no-repeat center right/contain;
    width:8rem;
    height:7rem;;
}
.w-l-image411 {
    background: url(./img/page9/Image\ 148.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image412 {
    background: url(./img/page9/Image\ 146.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image413 {
    background: url(./img/page9/Image\ 143.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.wish-list5 {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.wish-list-image5 {
    background: url(./img/page9/Image\ 149.png)no-repeat center right/contain;
    width:8rem;
    height:7rem;;
}
.w-l-image511 {
    background: url(./img/page9/Image\ 147.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image512 {
    background: url(./img/page9/Image\ 145.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
.w-l-image513 {
    background: url(./img/page9/Image\ 144.png)no-repeat center left/contain;
    width:8rem;
    height:7rem;
}
#foot {
    background-color: #fbfbfb;
}
.foot-content {
    display: flex;
    justify-content: space-between;
}